.katalog {
    display: flex;
}

.filterbar {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 1em;
    background-color: #f9f9f9;
}

.grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }