.logo-og-handlekurv {
    display: flex;
}

.handlekurv {
    width: 4em;
    height: 4em;
    background-color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5em;
    right: 2em;
}

.logo {
    height: 6em;
    padding: 1.5em;
    margin: auto;
}
