.produktside {
    display: flex;
    flex-direction: row;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    justify-content: space-between;
}

.produktside img {
    width: 50%;
    margin: 0 auto;
    @media (min-width: 1024px) {
        width: 300px;
    }
    @media (max-width: 1023px) and (min-width: 768px) {
        width: 200px;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
    object-fit: scale-down;
}

.produktinfo {
    width: 50%;
    @media (max-width: 767px) {
        width: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    text-align: left;
}

.produktinfo h1 {
    font-size: 2em;
    font-weight: 300;
}

.produktinfo h2 {
    font-size: 1em;
    font-weight: 300;
    color: #333;
}

.produktinfo p {
    font-size: 1em;
    color: #333;
}

.knapperad {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*TODO: fiks feil i styling for dynamisk visning */
.teller {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 2px;
}

.teller button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

.leggIHandlekurvKnapp {
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    color: #333;
    border-radius: 0;
    margin-left: 1em;
}
